<style>
  [v-cloak] {
    display: none;
  }
</style>

<script>

Homey.setTitle('Select the capabilities');
Homey.emit('startedCapabilities', null, function (err, result) {
  if (err) {
    console.log(err);
    return;
  }
  new Vue({
    el: '#app',
    data: {
      isLoading: false,
      capabilities: result,
      i18n: Homey.getLanguage(function (err, result) {
        return (err) ? 'en' : result;
      }),
      selectedCapabilities: []
    },
    methods : {
      getTitle(value, i18n) {
        // Future proofing for new languages
        if (value.title.hasOwnProperty(i18n)) {
          return value.title[i18n];
        } else {
          return value.title.en;
        }
      }
    },
    watch   : {
      'selectedCapabilities' : function (val) {
        Homey.emit('capabilitiesChanged', {'capabilities' : val}, function (err, result) {
          if(err){console.log(err); return;}
        });
      }
    }
  });
});
</script>

<div id="app">

  <i v-if='isLoading' class="loading fa fa-cog fa-spin"></i>

  <template v-cloak>
    <ul id="devices-list">
      <li class="device" v-for="(value, key) in capabilities">
        <label :for="key" class="name">
          <div class="overlay"></div>
          <span class="name" tabindex="-1">{{getTitle(value, i18n)}}</span>
        </label>
        <label :for="key" class="checkbox">
          <input :id="key" :value="key" name="device" type="checkbox" tabindex="2"
                 v-model="selectedCapabilities">
        </label>
      </li>
    </ul>
  </template>
</div>
